.calendarWrapper {
    background-color: #fff;
    padding: 30px;
    border-radius: 16px;
}
.btnWrapper {
    text-align: right;
    margin-top: 20px;
}
.btnWrapper button {
    background: #51ab86;
    border-radius: 8px;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
