.cardWrapper {
	display: flex;
	width: 100%;
	max-width: 450px;
	background: #ffffff;
	border-radius: 16px;
}
.container {
	width: 100%;
	max-width: 1470px;
	margin: auto;
	padding: 50px 15px;
	display: flex;
	align-items: flex-start;
}
.dashboardWrapper {
	width: 100%;
	padding-left: 30px;
}
