/* CSS Resetting Start */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
	all: unset;
	display: revert;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	outline: none;
}
* {
	margin: 0;
}
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}
html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: "Rubik", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Resetting End */

/* React Modal CSS Start */
.ReactModal__Overlay {
	background: rgba(25, 28, 33, 0.12) !important;
	backdrop-filter: blur(10px) !important;
	z-index: 9999;
}
body.ReactModal__Body--open {
	overflow: hidden;
}

/* Carousel CSS Start */
.carousel .control-dots .dot {
	margin: 0px 4px !important;
	opacity: 1 !important;
	width: 8px !important;
	height: 8px !important;
	box-shadow: none !important;
}
.carousel .control-dots .dot.selected {
	width: 18px !important;
	border-radius: 10px !important;
}
.carousel.carousel-slider,
.carousel .slide {
	border-radius: 8px !important;
}
