/* CSS Resetting Start */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}
* {
    margin: 0;
}
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* CSS Resetting End */

/* React Calendar CSS Start */
.react-calendar .react-calendar__navigation {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
}
.react-calendar .react-calendar__month-view__days .react-calendar__tile,
.react-calendar .react-calendar__viewContainer .react-calendar__month-view__weekdays__weekday {
    text-align: center;
    height: 56px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.react-calendar .react-calendar__month-view__days .react-calendar__tile abbr {
    position: relative;
}
.react-calendar .react-calendar__month-view__days .react-calendar__tile.react-calendar__tile--now {
    color: #e59236;
}
.react-calendar .react-calendar__month-view__days .react-calendar__tile.react-calendar__tile--now:before {
    content: '';
    position: absolute;
    border: 1px solid #e59236;
    height: 55px;
    width: 55px;
    border-radius: 50%;
}
.react-calendar .react-calendar__month-view__days .react-calendar__tile.react-calendar__tile--rangeBothEnds {
    color: #fff;
}
.react-calendar .react-calendar__month-view__days .react-calendar__tile.react-calendar__tile--rangeBothEnds:before {
    border: 1px solid #e59236;
    background-color: #e59236;
    content: '';
    position: absolute;
    height: 55px;
    width: 55px;
    border-radius: 50%;
}
.react-calendar__navigation .react-calendar__navigation__arrow {
    display: inline-block;
    margin: 0px 12px;
    cursor: pointer;
}
/* React Modal CSS Start */
.ReactModal__Overlay {
    background: rgba(25, 28, 33, 0.12) !important;
    backdrop-filter: blur(10px) !important;
    z-index: 9999;
}
body.ReactModal__Body--open {
    overflow: hidden;
}
.ReactModal__Content {
    padding: 0px !important;
    border-radius: 8px !important;
    border: none !important;
}
/* Carousel CSS Start */
.carousel .control-dots .dot {
    margin: 0px 4px !important;
    opacity: 1 !important;
    width: 8px !important;
    height: 8px !important;
    box-shadow: none !important;
}
.carousel .control-dots .dot.selected {
    width: 18px !important;
    border-radius: 10px !important;
}
.carousel.carousel-slider,
.carousel .slide {
    border-radius: 8px !important;
}
